.photo{
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.photo img{
    /*width: 40%;*/
    /*height: 20%;*/
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    display: flex;
    border-radius: 12px;
    /*margin-top: 30%;*/

}
.btn-trash-photo{
    background-color: transparent;
    border-color: transparent;
    position: relative;
    color: white;
    width: 30px;
    height: 20px;
}
.span-btn-trash-photo{
    position: relative;
    width: 100px;
    height: 20px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: -20px;
}