.detailPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-links{
    position:absolute;
    width: 390px;
    height: 50px;
    background-color: #b1e078;
    background-image: linear-gradient(to bottom left, #ffdd76, #b1e078,#ffdd76);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-dropdown{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-outline-secondary{
    margin-left:2%;
}

.mb-3{
    width: 95%;
}
#inputGroupFileAddon03{
    height: 38px;
    margin-right:5px;
    border-color: transparent;
}

/*.sec-links{*/
/*    width: 390px;*/
/*    height: 50px;*/
/*    */
/*    display: flex;*/
/*    align-items: center;*/


/*}*/
.title-route-detail{
    position:absolute;
    width: 390px;
    height: 98px;
    top:50px;
    background-color: #b1e078;
    background-image: linear-gradient(to bottom right, #ffdd76, #b1e078,#ffdd76);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*.btn-outline-secondary-2{*/
/*    float:left;*/

/*}*/

.title-border{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: rgba(1, 25, 147, 0.65) 2px solid;
    border-radius: 10px;
    padding: 2% 4% 2% 4% ;
    color: darkblue;
    width: 95%;
}
.dropdown-detailpage{
    position:absolute;
    top:6px;
    width:390px;
    height:50px;
    text-align: right;
}
.btn-primary-detailpage{
    background-color: #a878e0;
    background-image: linear-gradient(to top right, #43f500, #fff000);
    border-color: white;
    padding: 4px 6px 4px 6px;
    margin-right:4%
}
.title-routeName{
    margin : 0;
}
.sec-route-detail{
    position:absolute;
    top:148px;
    width: 390px;
    height: 556px;
    background-color: #b1e078;
    background-image: linear-gradient(to bottom right, #b1e078, #ffdd76, #b1e078);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*border: rgb(40, 40, 40) 5px solid;*/

}
.div-map{
    /*border: rgb(200, 255, 72) 5px solid;*/
    border-radius: 10%;
    display:flex;
    width: 95%;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.map{
    position:absolute;
    width: 85%;
    height: 35%;
    border-radius: 12px;
}
.div-images{
    /*border: rgb(200, 255, 72) 5px solid;*/
    border-radius: 6%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y:scroll;
    white-space: nowrap;
    max-width: 95%;
    height: 20%;
    display:flex;
}
.div-share{
    border: rgb(200, 255, 72) 5px solid;
    border-radius: 6%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    height: 15%;
}
.custom-file{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.custom-file fileInput{
    display:none;
}
.custom-file-find{
    border: 1px solid #282828;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-upload{
    border-radius: 14px;
    border-color: rgb(200, 255, 72);
}
.form-control-sm{
    height: calc(1.5em + .75rem + 2px);
    background-color: transparent;
    border-color: transparent;
    width: 80%;

}
.mb-3{
    margin-top:4%
}

