.route-img-thumbnail{
    width: 110px;
    height: 110px;
    border-radius: 12px;
    object-fit: cover;
    margin-top: 5px;
}
.route-card{
    font-size:10px;
    width: 160px;
    height: 160px;
    border-radius: 12px;
    border: 2px solid darkblue;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
}
.route-routename{
    margin: 0 0 0 0;
    color: #00FFFF;
    padding: 2px;
}
.hashtag{
    width:30%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    color:#FF00FF;
}