.sec-routes-overview{
    position:relative;
    width: 90%;
    height:450px;
    max-height: 85%;
    text-align: center;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x:scroll;
    white-space: nowrap;
}