.detailPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top right, #43f500, #fff000);
    background-color: #b1e078;
    width: 100vw;
    height: 100vh;
}

.div-dropdown{
    width: 95%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-outline-secondary{
    margin-left:2%;
    font-size: 10px;
}

.mb-3{
    width: 95%;
}
#inputGroupFileAddon03{
    height: 32px;
    margin-right:5px;
    background-color: #dbe0e4;
    color:#5f656c;
}

.title-border{
    position:relative;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: rgba(1, 25, 147, 0.65) 2px solid;
    border-radius: 10px;
    padding: 2% 4% 2% 4% ;
    color: darkblue;
    width: 95%;
    margin: 10px auto 0;
}

.btn-primary-detailpage{
    background-color: #a878e0;
    /*background-image: linear-gradient(to top right, #43f500, #fff000);*/
    /*border-color: #00c400;*/
    padding: 4px 6px 4px 6px;
    margin-right:4%
}
.title-routeName{
    margin : 0;
}
.sec-route-detail{
    position:relative;
    width: 90%;
    height: 500px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto 0;
}
.div-map{
    position:relative;
    border-radius: 10%;
    display:flex;
    width: 95%;
    height:400px;
    justify-content: center;
    align-items: center;
    margin: 2px auto 0;
}

.map{
    position:relative;
    width: 95%;
    height: 100%;
    border-radius: 20px;
}
.photos-share{
    border: darkblue solid 2px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    /*margin-bottom: -5%;*/
    /*padding: 1% 2%;*/
    width: 95%;
    height:60px;
    margin: 10px auto 0;
    position:relative;
}
.text-photos-share{
    margin:0 auto;
}
.div-images{

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y:scroll;
    white-space: nowrap;
    width: 95%;
    height: 260px;
    display:flex;
    justify-content: center;
    margin: 5px auto 0;
}



.custom-file-find{
    border: 1px solid #282828;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-upload{
    border-radius: 14px;
    border-color: rgb(200, 255, 72);
}
.form-control-sm{
    height: calc(1.5em + .75rem + 2px);
    background-color: transparent;
    border-color: transparent;
    width: 80%;

}
.mb-3{
    margin-top:4%
}
.sec-comments{
    position:relative;
    width:95%;
    height: 380px;
    margin-bottom:10px;
    display:flex;
    justify-content: center;
}
.comment-title{
    font-size:100%;
    font-family: monospace;
}

#input-in-detail{
    position:relative;
    width: 90%;
    height:50px;
}
.mb-3{
    width: 90%;
}
