.sec-routes-overview{
    position:absolute;
    top:25%;
    width: 90%;
    max-height: 65%;
    text-align: center;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    /*max-height: 700px;*/
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x:scroll;
    white-space: nowrap;
}