.mainpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("https://www.freevector.com/uploads/vector/preview/25131/Free_Sprint_Vector.png");
    background-position-y: 95px;
    background-repeat: no-repeat;
}

.sec-title{
    width: 100%;
}
#title{
    text-align: center;
    margin-top: 35%;
    font-family: monospace;
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
}

.sec-search{
    position:absolute;
    top:44%;
    width:100%;
}

.form-searchField{
    align-content: center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30% 2% 0;
}
.form-control{
    width:100%;
    height:32px;
}
.form-input{
    width: 260px;

}
.form-control::placeholder{
    font-size: 12px;
}
.div-dropdown-main{
    width: 100%;
    float: right;
}

.btn-outline-secondary-main:hover{
    background-color: #a878e0;
}

#button-addon2{
    border-color: darkblue;
    color: darkblue;
    transition-duration: 0.4s;
    height: 32px;
    margin-right:5%;
    display: grid;
    align-content: center;
}
