.mainpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-title{
    width: 390px;
    height: 258px;
    background-image: url("https://www.freevector.com/uploads/vector/preview/25131/Free_Sprint_Vector.png");
    background-size:cover;
}
#title{
    text-align: center;
    margin-top: 35%;
    font-family: monospace;
    font-weight: bold;
    font-size: 35px;
}

.sec-search{
    width:100%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/bc/2c/97/bc2c97eb4bbe0df9f4d3566deb1b7869.jpg");
    background-size: cover;
}

.form-searchField{
    align-content: center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30% 2% 0;
}
.form-control{
    width:100%;
    height:32px;
}
.form-input{
    /*margin-top: 10%;*/
    /*margin-right:5%;*/
    width: 260px;

}
.form-control::placeholder{
    font-size: 12px;
}
.div-dropdown-main{
    width: 100%;
    float: right;
}

.btn-outline-secondary-main:hover{
    background-color: #a878e0;
}

#button-addon2{
    border-color: darkblue;
    color: darkblue;
    transition-duration: 0.4s;
    /*font-size: 12px;*/
    height: 32px;
    margin-right:5%;
    display: grid;
    align-content: center;
}
