.routesPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("https://www.freevector.com/uploads/vector/preview/25131/Free_Sprint_Vector.png");
    background-position-x: 50%;
    background-position-y: 214px;
    background-repeat: no-repeat;
}
.div-dropdown-1{
    width: 95%;
    float:right
}

.sec-search-2{
    position:relative;
    width: 95%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top:2%;
    margin-right:2%;
    margin-left: 2%;
    flex-wrap: wrap;

}

.form-input-2{
    margin-bottom: 0;
    display:inline-block;
}
.btn-current-loc{
    background-color: transparent;
    border-color: darkblue;
    border-radius: 4px;
    border-width: 1px;
    padding: 2px 4px;
    width: 10%;
    height: 42px;
}

.form-control-2{
    /*margin-top: 8%;*/
    width: 150px;
    height: 42px;
    border-color: darkblue;
    border-radius:4px;
    border-width: 1px;
    margin-right: 5px;
    margin-left: 5px;
}
.form-control-2::placeholder{
    font-size: 10px;
}
.btn-outline-secondary{
    border-color: darkblue;
    color: darkblue;
    transition-duration: 0.4s;
    font-size: 100px;
    height: 42px;
    width: 70px;
}
.btn-outline-secondary:hover{
    background-color: #a878e0;
}
.sec-routes{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
#txt-routes-found{
    font-size: x-large;
    font-weight: bold;
}

.add-route{
    position: relative;
    width:100%;
    top:450px;
    /*background-color: blueviolet;*/
    /*background-image: linear-gradient(to bottom right, #4650ff, #a878e0, blueviolet);*/
}
.hashtag-band{
    position:relative;
    margin-top:2%;
    width:90%;
    height:8%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn-hashtag{
    display: inline-block;
    width:80px;
    height:25px;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #9900ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #a878e0;
    padding: 0 0 0 0;
    margin: 2% auto 0;

}
.btn-hashtag:hover {background-color:  #a878e0}

.btn-hashtag:active {
    background-color: darkblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-secondary dropdown-toggle{
    background-color: white;
    border: none;
    color: darkblue;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.custom-file-label{
    text-align: left;
    padding-left: 8%;
}
.btn-add-route{
    display: inline-block;
    width:200px;
    height:25px;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #9900ff;
    background-image: linear-gradient(to bottom right, #9900ff, #a878e0);
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #a878e0;
    padding: 0 0 0 0;
    margin: 2% auto 0;

}
.btn-add-route:hover {background-color:  #a878e0}
.btn-add-route:active {
    background-color: darkblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}