.routesPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4650ff;
    background-image: linear-gradient(to top right, #a878e0, #4650ff);
    width: 100vw;
    height: 100vh;
}
.div-dropdown-1{
    width: 100%;
    float:right
}

.sec-search-2{
    position:absolute;
    top:10%;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-right:2%;
    padding-left: 1%;

}
.form-searchField-2{
    /*border: rgba(1, 25, 147, 0.65) 5px solid;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}
.form-input-2{
    margin-bottom: 0;
    display:inline-block;
}
.btn-current-loc{
    background-color: transparent;
    border-color: darkblue;
    border-radius: 4px;
    border-width: 1px;
    padding: 2px 4px;
    width: 10%;
    height: 70%;
}

.form-control-2{
    /*margin-top: 8%;*/
    width: 40%;
    height: 70%;
    border-color: darkblue;
    border-radius:4px;
    border-width: 1px;
}
.form-control-2::placeholder{
    font-size: 10px;
}
.btn-outline-secondary-rp{
    border-color: darkblue;
    color: darkblue;
    transition-duration: 0.4s;
    font-size: 12px;
    height: 40px;
    width: 110%;
}
.btn-outline-secondary-rp:hover{
    background-color: #a878e0;
}
.sec-routes{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
#txt-routes-found{
    font-size: x-large;
    font-weight: bold;
}

.add-route{
    position: absolute;
    top:85%;
    width:100%;
    border: #282828 solid 2px;
    /*background-color: blueviolet;*/
    /*background-image: linear-gradient(to bottom right, #4650ff, #a878e0, blueviolet);*/
}
.hashtag-band{
    position:absolute;
    top:20%;
    width:100%;
    height:15%;
    /*background-color: #4650ff;*/
    /*background-image: linear-gradient(to top right, #a878e0, #4650ff);*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn-hashtag{
    display: inline-block;
    width:22%;
    height:35%;
    /*padding: 15px 25px;*/
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #9900ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #a878e0;
    padding: 0 0 0 0;
    margin: 2% auto 0;

}
.btn-hashtag:hover {background-color:  #a878e0}

.btn-hashtag:active {
    background-color: darkblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-secondary dropdown-toggle{
    background-color: white;
    border: none;
    color: darkblue;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
/*.btn-login:hover {*/
/*    background-color: RoyalBlue;*/
/*}*/
.div-dropdown{
    width: 100%;
}
.custom-file-label{
    text-align: left;
    padding-left: 8%;
}
