.password-check{
    font-size: 11px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.div-dropdown-signUp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
}
.sec-signUp{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height: 70vh;
    background-color: #a878e0;
    background-image: linear-gradient(to top right, #a878e0, #ff923c);
    opacity: 90%;
    background-size: cover;
}